/*hide the built-in branding element*/
body > div > footer > p > small {
  visibility: hidden;
}
/*hide the built-in view element with link to GitHub profile*/
body > div > header > p.view {
  visibility: hidden;
}

/*custom fonts and styles*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
body {
  font-family: 'Ubuntu Mono', monospace;
  background-color: #e2e2dd;
}
