////////////////////////////////////////
///// SECTIONS

.content {
  // display: grid;
  section {
    display: grid;
    justify-items: center;
  }
  p {
    margin-top: 0.6rem;
  }
}

.hero {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-grey-4) $nav-height + 1rem,
    var(--color-grey-3),
    var(--color-grey-4) 95%
  );
  // background: linear-gradient(var(--color-grey-3), var(--color-grey-3));
  // background: url("tree.svg") right/50% no-repeat;
  color: var(--color-grey-1);
  background-color: var(--color-grey-4);
  z-index: -5;

  // font-size: 1em;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  &__contents {
    display: grid;
    row-gap: 1rem;
    column-gap: 0.5rem;
    justify-items: center;
  }
  &__heading {
    font-weight: 400;
    letter-spacing: 0.2em;
    text-shadow: var(--shadow-dark);
    font-size: 1.1em;
  }
  &__image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
  }
  &__image {
    z-index: 5;
    // position: absolute;
    // bottom: 0;
    // right: 0;

    height: 75%;
    // width: 80%;
    fill: rgba(23, 23, 23, 0.5);
    // transform: translateX(3em);
  }

  &__slogan {
    letter-spacing: 0.3em;
    font-weight: 600;
    text-shadow: var(--shadow-dark);
    font-size: 1.2em;
  }
  &__buttons {
    padding-top: 0.4rem;
    font-weight: 600;
  }
}

.work {
  // color: var(--color-grey-1);
  ul {
    list-style-type: none;
    margin-left: 1rem;
  }
  h2 {
    padding-top: 1rem;
  }
}
.pricing {
  display: grid;
  gap: 1rem;
  ul {
    list-style-type: disc;
    padding-left: 1rem;
    ul {
      list-style-type: circle;
      padding-left: 0.5rem;
    }
  }
}

.contact {
  &__list {
    list-style-type: none;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-end;
  }
}
