////////////////////////////////////////
///// SECTIONS

.hero {
  position: relative;
  min-height: 100vh;
  padding: 0 2rem;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__down {
    height: 6em;
    width: 6em;
    position: absolute;
    bottom: 0;
    right: 0;
    // background-color: var(--color-grey-2);
    // border-radius: 50%;
    padding: 2em;
    svg {
      stroke: var(--color-grey-0);
    }
    &:hover {
      svg {
        stroke: var(--color-grey-3);
      }
    }
  }
}

.contact {
  svg {
    height: 1em;
    stroke: var(--color-grey-3);
  }

  &__list {
    li {
      padding-top: 0.5em;
    }
  }
}

.pricing {
  display: grid;
  gap: 1em;
}
