// NAVIGATION
.header {
  &__bar-background {
    position: fixed;
    height: $nav-height;
    width: 100%;
    background-color: var(--color-grey-4);
    z-index: 20;
  }
  &__bar {
    color: var(--color-grey-1);
    position: fixed;
    height: $nav-height;
    width: 100%;
    padding-left: $container-padding;
    padding-right: $container-padding;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 25;

    &__menu-toggle {
      // height: 2em;
      width: 3em;
      display: flex;
      align-items: center;
    }

    &__menu-button,
    &__menu-button:after,
    &__menu-button:before {
      width: 2em;
      height: 3px;
      position: absolute;
      right: $container-padding;
      background-color: var(--color-grey-1);
      border-radius: 3px;
      content: "";
    }
    &__menu-button:before {
      transform: translateY(-0.5em);
      right: 0;
    }
    &__menu-button:after {
      transform: translateY(0.5em);
      right: 0;
    }

    &__contact {
      display: none;
    }
  }
}

.navbar {
  position: fixed;
  z-index: 18;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-grey-4);
  color: var(--color-grey-1);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5em;
  padding: 1em;
  padding-top: $nav-height;
  display: none;
  font-size: 130%;
}
